---
layout: default
title: Gatehouse Docks
---

<section class="main-content-container">
  <div class="main-text">
    <p>Hello!</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      <br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      <br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>

  <div class="main-image">
    <img id="profile-photo" src="./assets/imgs/dockoverview.png" alt="Overview of the Gatehouse Docks, credit: Ocean Reef Club" />
  </div>
</section>

  <!-- <section id="news">
    <b>news</b>
    <br><br>
    {% if site.data.news %}
        <div class="news-grid">
          {% for item in site.data.news %}
            <div class="news-item">
              <div class="news-date">{{ item.date }}</div>
              <div class="news-txt">{{ item.txt }}</div>
            </div>
          {% endfor %}
        </div>
    {% endif %}
  </section> -->
